
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reseptihakemisto</title>
        <meta charset="UTF-8" />
        <style>
            .kentta {
                background-color: MediumSeaGreen;
                color: white;
                padding: 10px;
            }

            .body {

            }
        </style>
    </head>

    <body>
        <h1>Reseptihakemisto</h1>
        <p></p>

        <form action="/haku" method="POST" class="kentta">
            <span class="description">HAE</span>
            <input type="text" name="resepti"/>
            <input type="submit"/>
        </form>

        <ul style="list-style-type: none">
            <li th:each="resepti : ${reseptit}">
                <span th:text="${resepti.nimi}">Reseptish name</span>
            </li>
        </ul>

    </body>
</html>