
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptihakemisto</title>
        <meta charset="UTF-8" /> <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans"/>
        <style>
            .kentta {
                background-color: MediumSeaGreen;
                color: white;
                padding: 10px;
                font-family: 'OpenSans', bold;
            }

            body {
                font-family: 'OpenSans', bold;
            }
            
            .f {
                font-family: 'OpenSans', bold;
            }
            
        </style>
        
    </head>

    <body>
        <h1>Reseptihakemisto</h1>
        <p></p>

        <form action="/haku" method="POST" class="kentta" id="hakukentta">
            <label class="description">HAE</label>
            <input class="f" type="text" name="resepti"/>
            <select name="hakutyyppi" form="hakukentta">
                <option value="resepti" class="f">Resepti</option>
                <option value="raakaAine" class="f">RaakaAine</option>
            </select>
            <input type="submit"/>
        </form>

        <ul style="list-style-type: none">
            <li th:each="resepti : ${reseptit}">
                <span th:text="${resepti.nimi}">Reseptish name</span>
            </li>
        </ul>

    </body>
</html>