<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptish</title>
        <meta charset="utf-8" />
        
        <style>
             p.one {
                background-color: MediumSeaGreen;   
            }
            
            
            a  {
                color: white;
            }
            
            
        </style>
        
    </head>

    <body>
        <h1>Reseptish</h1>

        <p><span th:text="${viesti}">Reseptish-tietokantaan voit tallentaa omia
            reseptejäsi ja selata tietokannan sisältämiä reseptejä.</span></p>

       <p class="one">
            <a href="/haku">Haku</a><br/>
            <a href="/uusi">Luo uusi resepti</a><br/>
            <a href="/tilasto">Tilasto</a><br/>
            <a href="/reseptit">Kaikki reseptit</a><br/>
        </p>
    </body>
</html>