<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Resepti</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <style>

            .one {
                background-color: MediumSeaGreen;  
                padding-top: 10px;
                padding-right: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
            }


            a  {
                color: white;
            }


        </style>
    </head>

    <body>


        <div class="one"><a href="/haku">Haku</a> 
            | <a href="/uusi">Luo uusi resepti</a> 
            | <a href="/reseptit">Kaikki reseptit</a> 
            | <a href="/">Etusivu</a> 
            | <a href="/tilasto">Tilasto</a><br/>

        </div> 

        <h1 th:text="${resepti.nimi}">Reseptin nimi</h1>

        <dl>

            <dt><b>Kategoria</b></dt>
            <dd th:each="reseptiKategoria : ${kategoriat}">
                <span th:text="${reseptiKategoria.kategoria.nimi}">kategorian nimi</span> 
            </dd>
            <dt><b>Valmistusaika</b></dt>
            <dd><span th:text="${resepti.valmistusaika}"></span> min</dd>
            <dt><b>Tekijä</b></dt>
            <dd><span th:text="${resepti.tekija}"></span></dd>

        </dl>

        <h2>Raaka-aineet</h2>
        <ul>
            <li th:each="reseptiRaakaaine : ${raakaaineet}">
                <span th:text="${reseptiRaakaaine.raakaaine.nimi}">raaka-aineen nimi</span>
                (<span th:text="${reseptiRaakaaine.maara}">määrä</span> <span th:text="${reseptiRaakaaine.yksikko}">yksikkö</span>)<br/>
                <i><span th:text="${reseptiRaakaaine.valmistusohje}">valmistusohje</span></i>
            </li>
        </ul>
        <h2>Ohje:</h2>
        <p><span th:text="${resepti.ohje}">ohje</span>
        </p>
    </body>
</html>
