<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Resepti</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font-family: 'OpenSans', bold;
            }
        </style>
    </head>
    <body>
        
        <p><span th:text="${reseptiNimi}">Reseptin nimi</span></p>
        
        <label>Ainekset:</label>
        <ul style="list-style-type: none">
            <li th:each="raakaAine : ${RaakaAineet}">
                <span th:text="${raakaAine}">RaakaAine name</span>
            </li>
        </ul>
        
        <label>Valmistusohje:</label>
        <p><span th:text="${reseptiOhje}">Ohje</span></p>
            
        <p
        
    </body>
</html>
