<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tilastot</title>
            <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tilastot</h1>

        <p><a href="/haku">Haku</a><br/>
            <a href="/uusi">Luo uusi resepti</a> <br/>
            <a href="/tilasto">Tilasto</a> <br/>
            <a href="/">Etusivu</a>
            
        </p> 
        
        <p>Reseptien määrä: <span th:text="${maara}"> </span> <br/>
    
        </p>
        
        
        
        

    </body>
</html>
