<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Reseptish - luo uusi resepti</title>
    <meta charset="utf-8" />
    <style>
      input.maara {
        width:70px;
      }
      
      .rivi {
          
      }
      
      
    </style>
  </head>

  <body>
    <h1>Luo uusi resepti</h1>

    <form action="/uusi" method="POST">
      <label>nimi: </label>
      <input name="nimi" type="text" size="20" />
      <br/>
      <label>tekijä: </label>
      <input type="text" name="tekija" size="20" />
      <br/>      
      <label>valmistusaika (min): </label>
      <input class="maara" type="number" name="valmistusaika" size="20" />
      <br/>
      <label>kategoria: </label>
      <input name="kategoria" type="text" size="20" />
      <br/>

      <div class="rivi" id="1">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine1" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara1" style="width:70px;"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko1" size="6" maxlength="20" />
        <br/>
      </div>

      <div class="rivi" id="2" style="display:">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine2" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara2"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko2" size="6" maxlength="20" />
        <br/>
      </div>
      <div class="rivi" id="3" style="display:">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine3" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara3"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko3" size="6" maxlength="20" />
        <br/>
      </div>
      <div class="rivi" id="4" style="display:none">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine4" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara4"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko4" size="6" maxlength="20" />
        <br/>
      </div>
      <div class="rivi" id="5" style="display:none">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine5" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara5"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko5" size="6" maxlength="20" />
        <br/>
      </div>
      <div class="rivi" id="6" style="display:none">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine6" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara6"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko6" size="6" maxlength="20" />
        <br/>
      </div>
      <div class="rivi" id="7" style="display:none">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine7" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara7"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko7" size="6" maxlength="20" />
        <br/>
      </div>
      <div class="rivi" id="8" style="display:none">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine8" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara8"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko8" size="6" maxlength="20" />
        <br/>
      </div>
      <div class="rivi" id="9" style="display:none">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine9" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara9"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko9" size="6" maxlength="20" />
        <br/>
      </div>      
      <div class="rivi" id="10" style="display:none">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine10" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara10"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko10" size="6" maxlength="20" />
        <br/>
      </div>    
      <div class="rivi" id="11" style="display:none">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine11" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara11"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko11" size="6" maxlength="20" />
        <br/>
      </div> 
      <div class="rivi" id="12" style="display:none">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine12" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara12"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko12" size="6" maxlength="20" />
        <br/>
      </div>
      <div class="rivi" id="13" style="display:none">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine13" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara13"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko13" size="6" maxlength="20" />
        <br/>
      </div>
      <div class="rivi" id="14" style="display:none">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine14" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara14"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko14" size="6" maxlength="20" />
        <br/>
      </div>   
      <div class="rivi" id="15" style="display:none">
        <label>raaka-aine: </label>
        <input type="text" name="raaka-aine15" size="14"/>
        <label>määrä: </label>
        <input class="maara" type="number" name="maara15"/>
        <label>yksikkö: </label>
        <input type="text" name="yksikko15" size="6" maxlength="20" />
        <br/>
      </div>             

      <br/>


      <label>ohje: </label>
      <br/>
      <textarea name="ohje" style="width:350px;height:150px;"></textarea>
      <br/>
      <input type="submit" value="Tallenna" />
    </form>


    <p><a href="/haku">Haku</a>
      <br/>
      <a href="/uusi">Luo uusi resepti</a>
      <br/>
      <a href="/tilasto">Tilasto</a>
      <br/>
      <a href="/reseptit">Kaikki reseptit</a>
      <br/>
    </p>
  </body>

</html>
